<div class="container" style="text-align: center ; margin-top:5rem">
    <h1 style="margin-bottom: 5rem;">縮網址產生器
    </h1>
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
        alt="link-img" style="width: 10rem; height: 10rem; margin-bottom: 3rem;">
    <div>
        <div>
            <form action="/" method="post">
                <input type="text" required="required" placeholder="在這裡輸入你的網址" name="original_URL">
                <button type="submit" onclick="chickLink()">縮網址</button>
            </form>
        </div>
    </div>
</div>
<script>
    function chickLink() {
        const inputText = document.getElementsByName('original_URL')[0].value
        if ((inputText.indexOf('http://', 0) == -1) && (inputText.indexOf('https://', 0) == -1)) {
            console.log(inputText)
            alert('您入的網址格式不符，檢查是否忘了加 http:// ');
            event.preventDefault()
            //Event.stopPropagation()

        }
    }
</script>