<div class="container" style="text-align: center ; margin-top:20rem">
    <h1 style="margin-bottom: 5rem;">縮網址產生器
    </h1>
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
        alt="link-img" style="width: 10rem; height: 10rem; margin-bottom: 3rem;">
    <div>
        <div>
            <p>
                <b>
                    <font size="5">短網址已經建立囉</font>
                </b>
            </p>
            <b>
                <a href={{originalURL}}>
                    <font id="ShortenUrl" size="5" color="blue" face="Arial">http://localhost:3000/{{originalURL}}
                    </font>
                </a>
            </b>
        </div>
        <div>
            <button type="buttom" onclick="copyLink()" style="font-size:25pt">複製網址</button>
        </div>
    </div>
</div>
</div>

<script>
    function copyLink() {
        const inputText = document.getElementById('ShortenUrl').innerText;
        navigator.clipboard.writeText(inputText)
        alert('已複製到剪貼簿');
    }
</script>